.contact-us {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.contact {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 60%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #e2e2e2;
    border-radius: 10px;
    border: 3px solid #4a00e0;
  }
  
  .contact h1 {
    width: 100%;
    height: 10%;
    color: #8e2de2;
    font-size: 400%;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
  
  .contact form {
    width: 60%;
    height: 80%;
    border-radius: 20px;
    border: 2px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #8e2de2;
  }
  
  .contact form .text-in {
    width: 80%;
    height: 10%;
    border-radius: 100px;
    background-color: white;
    border: 2px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  
  .contact form .text-in ion-icon {
    width: 10%;
    color: #8e2de2;
    font-size: 250%;
  }
  
  .contact form .text-in input {
    width: 90%;
    height: 100%;
    font-size: 200%;
    font-weight: 200;
    border-radius: 100px;
    border: none;
  }
  
  .contact form .message {
    width: 80%;
    height: 50%;
    font-size: 150%;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .contact form .message ion-icon {
    width: 8%;
    color: #8e2de2;
    font-size: 250%;
  }
  
  .contact form .message textarea {
    width: 90%;
    height: 100%;
    border: none;
    font-size: 120%;
    border-radius: 20px;
    padding: 1%;
  }
  
  .contact form input[type="submit"] {
    width: 80%;
    height: 10%;
    font-size: 200%;
    font-weight: 300;
    border-radius: 100px;
    background: blue;
    color: white;
    border: 2px solid white;
  }
  
  .contact form input[type="submit"]:hover {
    color: #8e2de2;
    background-color: white;
    border: 2px solid #003cff;
  }

  .error {
    color: red;
    font-size: 110%;
    font-weight: 300;
  }