.login {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url("/assets/img/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-form {
    background-image: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    border: 3px solid white;
    border-radius: 10px;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 25%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .login-form form {
    width: 80%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .login-form form span {
    width: 100%;
    height: 13%;
    background-color: white;
    border-radius: 100px;
    border: 2px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .login-form form span ion-icon {
    width: 10%;
    font-size: 150%;
    color: #8e2de2;
    padding: 1% 0 0 2%;
  }
  
  .login-form form span input {
    width: 90%;
    height: 100%;
    font-size: 130%;
    font-weight: 300;
    border-radius: 100px;
    border: none;
  }
  
  .login-form form input[type=submit] {
    width: 100%;
    height: 13%;
    background-color: #003cff;
    font-weight: 300;
    border-radius: 100px;
    border: 2px solid white;
    font-size: 150%;
    color: white;
    padding: 0 0 1% 0;
  }
  
  .login-form form input[type=submit]:hover {
    border: 2px solid black;
    background-color: white;
    color: #4a00e0;
  }

  .login-form form div, .login-form div {
    color: red;
    text-align: center;
    font-size: 90%;
    font-weight: 300;
  }
  
  .login-form h2 {
    color: white;
    font-size: 300%;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .login-form a {
    color: white;
    font-size: 200%;
    font-weight: 200;
  }
  
  .login-form a:hover {
    color: blue;
  }