<app-budget-organizer-header></app-budget-organizer-header>
<div class="change-password-container">
    <div class="change-password">
        <h1>CHANGE PASSWORD</h1>
        <form action="#" method="post" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div class="password-input">
                <ion-icon name="lock-open-outline"></ion-icon><input type="password" name="current-password" id="current-password" placeholder="Current Password" [formControlName]="'currentPassword'">
            </div>
            <div class="error" *ngIf="!changePasswordForm.get('currentPassword').valid && changePasswordForm.get('currentPassword').touched">Current Password cannot be empty</div>
            <div class="password-input">
                <ion-icon name="lock-closed-outline"></ion-icon><input type="password" name="new-password" id="new-password" placeholder="New Password" [formControlName]="'newPassword'">
            </div>
            <div class="error" *ngIf="!changePasswordForm.get('newPassword').valid && changePasswordForm.get('newPassword').touched">New Password cannot be empty</div>
            <div class="password-input">
                <ion-icon name="lock-closed-outline"></ion-icon><input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm New Password" [formControlName]="'confirmPassword'">
            </div>
            <div class="error" *ngIf="!changePasswordForm.get('confirmPassword').valid && changePasswordForm.get('confirmPassword').touched">Confirm Password cannot be empty</div>
            <input type="submit" value="Change Password">
            <a href="#" routerLink="/budget-organizer" id="cancel">Cancel</a>
        </form>
    </div>
</div>

