<header>
    <div class="nav">
        <img src="/assets/img/logo.JPG" alt="Logo">
        <div (mouseover)="menuDisplay()" id="user-logo">
            <span>{{loginResponse.firstName}}</span><span>{{loginResponse.lastName}}</span><ion-icon name="people-circle"></ion-icon>
        </div>
    </div>

    <div class="user-menu animated fadeOutUp" (mouseleave)="menuClosed()">
        <ul>
            <li><a href="#" routerLink="/login" (click)="logout()">Logout</a></li>
            <li><a href="#" routerLink="/change-password" (click)="menuClosed()">Change Password</a></li>
        </ul>
    </div>
</header>
