.user-menu {
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: none;
    width: 15%;
    height: 20%;
    background: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    opacity: 0.9;
    z-index: 2;
  }
  
  .user-menu ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style: none;
  }
  
  .user-menu ul li {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 10% 0 0 0;
  }
  
  .user-menu ul li:hover {
    background-color: white;
    cursor: pointer;
  }
  
  .user-menu ul li:hover a {
    color: #8e2de2;
  }
  
  .user-menu ul li a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 170%;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  .nav {
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 6%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .nav #user-logo {
    width: 12%;
    margin-left: 35%;
    margin-right: 3%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .nav #user-logo ion-icon {
    font-size: 300%;
    margin-left: 4%;
  }
  
  .nav #user-logo span {
    font-size: x-large;
    padding-top: 1%;
    font-weight: 300;
    margin: 0 2%;
  }
  
  .nav #user-logo:hover {
    color: #8e2de2;
  }
  
  .nav img {
    width: 2%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0 0.5% 0;
  }
  