
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.menu {
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: none;
    width: 25%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    opacity: 0.8;
    z-index: 2;
}
  
.menu .menu-item {
    width: 100%;
    height: 100%;
}
  
.menu .menu-item ul {
width: 100%;
height: 50%;
margin: 40% 0 0 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
list-style: none;
}
  
.menu .menu-item ul li {
width: 100%;
height: auto;
text-align: center;
padding: 3% 0;
}
  
.menu .menu-item ul li:hover {
background-color: white;
cursor: pointer;
}
  
.menu .menu-item ul li:hover a {
color: #8e2de2;
}

.menu .menu-item ul li a {
width: 100%;
height: 100%;
display: block;
font-size: 200%;
font-weight: 300;
text-transform: uppercase;
text-decoration: none;
color: white;
}

.nav {
position: fixed;
width: 100%;
height: 7%;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
}

.nav #menu-logo {
width: 9%;
margin-right: 39%;
color: white;
font-size: 400%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
cursor: pointer;
}

.nav #menu-logo ion-icon {
margin-left: 4%;
}

.nav #menu-logo span {
font-size: xx-large;
padding-top: 1%;
font-weight: 200;
}

.nav #menu-logo:hover {
color: #8e2de2;
}

.nav img {
width: auto;
height: 95%;
border-radius: 50%;
cursor: pointer;
}
  