<app-header></app-header>
<div class="resume">
    <div class="desc">
        <div>
            <h1>About Me</h1>
            <h2>
                <ion-icon name="albums"></ion-icon> SUMMARY
            </h2>
            <p>
                I am a proactive and vibrant top performer with the ability to complete task within
                specified time frame, with minimal supervision. As a trained technologist and computer
                programmer, I have worked on various projects under supervision and individually.
            </p>
        </div>
        <div>
            <h2>
                <ion-icon name="briefcase"></ion-icon> PROJECTS
            </h2>
            <h3>Restaurant manager System, Landscape</h3>
            <em>Feb 2019 – Oct 2019</em>
            <p>
                Designed and developed a Spring Boot application using Spring Boot, MYSQL, Java 8, HTML5, CSS3,
                Hibernate,
                and JavaScript. The customer can login and order food and can log out when the order is placed.
            </p>
        </div>
        <div>
            <h2>
                <ion-icon name="person"></ion-icon> SKILLS
            </h2>
            <table>
                <tr>
                    <td>Languages/Tech:</td>
                    <td>Java SE EE, SQL, JSP, HTML5, CSS3, Bootstrap, JavaScript, jQuery, JSON, SASS, Angular,
                        Angular JS, Hibernate, JPA, Spring, Spring Boot, MySQL, Junit, JDBC
                    </td>
                </tr>
                <tr>
                    <td>Tools:</td>
                    <td>Eclipse, git, Maven, IntelliJ IDEA, Postman, VS Code</td>
                </tr>
                <tr>
                    <td>Database Systems:</td>
                    <td>MySQL, Apache Derby, MariaDB</td>
                </tr>
                <tr>
                    <td>Operating Systems:</td>
                    <td>Windows, Linux, Android</td>
                </tr>
            </table>
        </div>

        <div>
            <h2>
                <ion-icon name="school"></ion-icon>EDUCATION
            </h2>
            <h3>Software Development Bootcamp-<em>Full-stack Java Development</em>, Per Scholas Charlotte, NC</h3>
            <em>Jun 2020 - Sep 2020</em>
            <h3>Associate of Computer Technology-<em> Java Software Development,</em> MTC Columbia, SC</h3>
            <em>Sep 2016 - May 2018</em>
            <h3>Bachelors of Mathematics – Mathematics, University of Yaoundé I, Cameroon, Center Region</h3>
            <em>Sep 2004 - Sep 2008</em>
        </div>
    </div>

    <div class="info">
        <div class="pp">
            <img src="/assets/img/pp.jpg" alt="Profile Picture">
        </div>

        <div class="contact">
            <h1>Lionel Youmbi</h1>
            <h3>Junior Java Developer</h3>
            <h2>
                <ion-icon name="send"></ion-icon> nkyoli@gmail.com
            </h2>
            <h2>
                <ion-icon name="call"></ion-icon> 803 238 2671
            </h2>
            <h2>
                <ion-icon name="logo-linkedin"></ion-icon> <a
                    href="https://www.linkedin.com/in/lionel-nkouambong-youmbi-9983a3164/">LinkedIn</a>
            </h2>
            <h2>
                <ion-icon name="logo-github"></ion-icon> <a href="https://github.com/lyoumbi">Github</a>
            </h2>
        </div>
    </div>
</div>

