<app-header></app-header>
<div class="home">
    <img src="/assets/img/logo2.JPG" id="logo-img" alt="logo">
    <div class="btn-group">
        <a href="#" routerLink="/login">Login</a>
        <a href="#" routerLink="/register">Register</a>
    </div>
    <div class="footer">
        <h2>Connect With Us:</h2>
        <div class="footer-icon">
            <a href="https://www.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://www.instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://www.github.com"><ion-icon name="logo-github"></ion-icon></a>
            <a href="https://www.linkedin.com"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://www.twitter.com"><ion-icon name="logo-twitter"></ion-icon></a>
        </div>
    </div>
</div>
