.home {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/assets/img/img.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/img/img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.btn-group {
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 45%;
    height: 86%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btn-group a {
    opacity: 0.8;
    width: 35%;
    height: 8%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    font-weight: 200;
    font-size: 250%;
    margin-bottom: 10%;
    margin-top: 5%;
    border-radius: 100px;
    border: 2px solid white;
}

.btn-group a:hover {
    opacity: 0.8;
    color: #8e2de2;
    background: white;
    border: 2px solid #8e2de2;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.footer h2 {
    color: white;
    font-size: 200%;
    text-align: center;
    font-weight: 300;
}

.footer .footer-icon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 300%;
}

.footer .footer-icon a {
    text-decoration: none;
    color: white;
}

.footer .footer-icon ion-icon:hover {
    color: #8e2de2;
}

#logo-img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    opacity: 0.8;
  }