.add-item {
    width: 100%;
    height: 23%;
    margin-top: 2.8%;
    background-image: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  }
  
.add-item form {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
.add-item form div {
    width: 100%;
    height: auto;
    margin: 1% 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-evenly;
  }
  
.add-item form div select, .add-item form div input {
    width: 12%;
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    border: 2px solid black;
    border-radius: 100px;
    margin: 1% 0 0 3%;
    padding: .3% 0;
  }
  
.add-item form div input[type="submit"] {
  height: 90%;
  padding: 0 1%;
  border: 2px solid white;
    background-color: #003cff;
    color: white;
  }
  
.add-item form div input[type="submit"]:hover {
  border: 2px solid #003cff;
    background-color: white;
    color: #4a00e0;
  }