<div class="add-item">
    <form action="#" method="post" [formGroup]="addForm" (ngSubmit)="addTransaction()">
        <div>
            <select name="type" id="type" [formControlName]="'type'">
                <option value="income">Income</option>
                <option value="expense">Expense</option>
            </select>
            <select name="Transaction Type" id="transaction-type" [formControlName]="'transactionType'">
                <option value="salary">Salary</option>
                <option value="dividend">Dividend</option>
                <option value="gift">Gift</option>
                <option value="tip">Tip</option>
                <option value="transport">Transport</option>
                <option value="groceries">Groceries</option>
                <option value="bill">Bill</option>
                <option value="rent-morgage">Rent/Mortgage</option>
                <option value="clothes">Clothes</option>
                <option value="restaurant">Restaurant</option>
                <option value="entertainment">Entertainment</option>
                <option value="other">Other</option>
            </select>
            <input type="text" name="description" id="description" placeholder="Description" [formControlName]="'description'">
            <input type="text" name="location" id="location" placeholder="Location" [formControlName]="'location'">
            <input type="text" name="amount" id="amount" placeholder="Amount" [formControlName]="'amount'">
            <input type="date" name="date" id="date" placeholder="Date" [formControlName]="'date'">
       </div>
       <div>
        <input type="submit" value="CREATE">
       </div>
    </form>
</div>