* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
.container {
    width: 100vw;
    height: 90vh;
    font-family: 'Poppins', sans-serif;
}

.display {
    width: 100%;
    height: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


app-display-table {
    margin: 0 1%;
    width: 65%;
    height: 100%;
}

app-display-chart {
    margin-right: 1%;
    width: 33%;
    height: 100%;
}