<div class="display-chart-total">
    <div class="display-total">
        <table class="total-table">
            <tr>
                <th colspan="2">Initial Budget</th>
                <td>${{totalPayload.initialBudget}}</td>
            </tr>
            <tr>
                <th class="right-align">Total Income</th>
                <td>${{totalPayload.totalIncome}}</td>
                <td>{{totalPayload.totalIncomePer}}%</td>
            </tr>
            <tr>
                <th class="right-align">Total Expenses</th>
                <td>${{totalPayload.totalExpense}}</td>
                <td>{{totalPayload.totalExpensePer}}%</td>
            </tr>
            <tr>
                <th colspan="2">Available Budget</th>
                <td>${{totalPayload.availableBudget}}</td>
            </tr>
        </table>
    </div>

    <div class="display-chart">
        <canvas baseChart
                [datasets]="chartDataBuilder(chartDataPayload)"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="chartLegend"
                [chartType]="chartType">
        </canvas>
    </div>
</div>
