.display-chart-total .display-chart {
    width: 100%;
    height: 55%;
    margin-top: 10%;
  }
  
.display-chart-total .display-total {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 15px;
    font-weight: normal;
    border-collapse: collapse;
    margin-top: 2%;
  }
  
.display-chart-total .display-total .total-table {
    width: 100%;
  }
  
.display-chart-total .display-total .total-table tr {
    width: 100%;
  }
  
.display-chart-total .display-total .total-table tr th {
    text-align: left;
    padding-left: 1%;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: 300;
  }
  
.display-chart-total .display-total .total-table tr th:nth-child(1) {
    font-weight: 300;
    background-color: #8d2de29c;
  }
  
.display-chart-total .display-total .total-table tr td {
    text-align: center;
    font-size: 150%;
    font-weight: 300;
    background-color: #4b00e0ad;
  }

  .display-chart-total .display-total .total-table tr td:nth-child(3) {
    background-color: #8d2de29c;
  }

  .income {
    color: rgba(16, 255, 16, 0.849);
  }

  .expense {
    color: rgba(255, 40, 40, 0.918);
  }