.display-table {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .display-table .fl-table {
    position: relative;
    display: block;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 85%;
    background-color: white;
  }
  
  .display-table .fl-table thead {
    position: relative;
    display: block;
    width: 100%;
    height: 7%;
  }
  
  .display-table .fl-table thead tr {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .display-table .fl-table thead tr th {
    width: 20%;
    color: white;
    background: #4a00e0;
    font-size: 150%;
    font-weight: 400;
  }
  
  .display-table .fl-table thead tr th:nth-child(odd) {
    color: white;
    background: #8e2de2;
  }
  
  .display-table .fl-table thead tr tr:nth-child(even) {
    background: #4a00e0;
  }
  
  .display-table .fl-table tbody {
    width: 100%;
    max-height: 93%;
    position: relative;
    display: block;
    overflow-y: scroll;
  }
  
  .display-table .fl-table tbody tr {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .display-table .fl-table tbody tr td {
    width: 20%;
    font-weight: 300;
    font-size: 100%;
    text-align: center;
    padding: 5px 0;
  }
  
  .display-table .fl-table tbody tr:nth-child(even) {
    background: #F8F8F8;
  }

  #edit, #delete {
    color: #4a00e0;
    font-size: 120%;
    margin: 0 4%;
  }

  #edit:hover {
    color: green;
  }

  #delete:hover {
    color: red;
  }
  
  .display-table button {
    width: 25%;
    font-size: 150%;
    font-weight: 200;
    text-align: center;
    border: 2px solid #4a00e0;
    border-radius: 10px;
    margin-top: 2%;
    padding: .5% 0;
    background-color: #8e2de2;
    color: white;
  }
  
  .display-table button:hover {
    color: white;
    border: 2px solid #8e2de2;
    background-color: #4a00e0;
  }
  